body{
    margin: 0px;
    padding: 0px;
}

.login img{
    margin-left: 70px;
}

.nav-item{
   margin-right: 60px;
   align-items: center;
   height: 30px;
   margin-top: 0px;
}

.d-flex button{
    margin-left: 10px;
}

.image img{
    height: 500px;
    width: 100%;
}
